html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
     background-position: center;
      background-image: url('video-conferencing-c.jpg');
    background-size: cover;
}

*:focus {
    outline: none;
}

#background {

    background-position: center;
    background-size: cover;
    display: table;
    height: 20%;
    width: 100%;
}

#loginContainer * {
    color: black;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
       font-weight: revert;
    line-height: 1em;
    box-sizing: border-box;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}

::-webkit-input-placeholder {
    color: rgb(214, 214, 161);
}

:-moz-placeholder {
    color: rgb(214, 214, 161);
    opacity: 1;
}

::-moz-placeholder {
    color: aqua;
    opacity: 1;
}

:-ms-input-placeholder {
    color: aqua;
}

::-ms-input-placeholder {
    color: aqua;
}

#inputContainer {
    width: 400px;
    padding: 45px;
    float: left;
}

#inputContainer h2 {
    text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#inputContainer label {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    display: block;
}

#inputContainer button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 250px;
    color: black;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#inputContainer button:hover {
    cursor: pointer;
}

.hasAccountText span {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
    text-align: center;
}

#registerForm,
#loginForm {
    display: none;
}

#loginText {
    padding: 45px;
    display: table-cell;
}

#loginText h1 {
    color: black;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2 {
    margin: 35px 0;
}

#loginText ul {
    padding: 0;
}

#loginText li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px 30px;
    background-image: url('checkmark.png');
    
}

#inputContainer .errorMessage {
    color: bisque;
    font-size: 12px;
    display: block;
}
